@using WebBlazorAppNew.Shared.Models 
@using System.Net.Http;
@page "/delete/{hmwID}"    
@inject HttpClient Http    
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper    
  
<h2>Delete</h2>    
<h3>Are you sure you want to delete homework with id : @hmwID</h3>    
<br />    
<div class="col-md-4">    
    <table class="table">    
        <tr>    
            <td>Name</td>    
            <td>@hmw.Name</td>    
        </tr>    
        <tr>    
            <td>Block</td>    
            <td>@hmw.Block</td>    
        </tr>    
        <tr>    
            <td>Rating</td>    
            <td>@hmw.Rating</td>    
        </tr>    
        <tr>    
            <td>Comment</td>    
            <td>@hmw.Comment</td>    
        </tr>    
    </table>    
    <div class="form-group">    
        <input type="submit" value="Delete" onclick="@(async () => await Delete())" class="btn btn-default" />    
        <input type="submit" value="Cancel" onclick="@cancel" class="btn" />    
    </div>    
</div>    
  
@functions {    
    [Parameter]    
    string hmwID { get; set; }    
    HomeWork hmw = new HomeWork();    
    protected override async Task OnInitAsync()    
    {    
        hmw = await Http.GetJsonAsync<HomeWork>    
            ("/api/HomeWork/Details/" + Convert.ToInt32(hmwID));    
    }    
    protected async Task Delete()    
    {    
        await Http.DeleteAsync("api/HomeWork/Delete/" + Convert.ToInt32(hmwID));    
        UriHelper.NavigateTo("/fetchhomework");    
    }    
    void cancel()    
    {    
        UriHelper.NavigateTo("/fetchhomework");    
    }    
}    
